@charset "UTF-8";
:root {
  --desaturated-red: hsl(0, 36%, 70%);
  --soft-red: hsl(0, 93%, 68%);
  --dark-grayish-red: hsl(0, 6%, 24%);
  --text-color: var(--desaturated-red);
  --accent-color: hsl(216, 61%, 54%);
  --grey300: hsl(0, 0%, 70%);
  --grey500: hsl(0, 0%, 50%);
  --gradient1: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
  --gradient2: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  --base-font-size: 14px;
  --small-font-size: 14.4px;
  --body-font-family: "Josefin Sans", sans-serif;
  --headings-font-family: var(--body-font-family);
  --h1-font-size: 2.7rem;
  --h2-font-size: 2rem;
  --h3-font-size: 1.5rem;
  --h4-font-size: 1.3rem;
  --h5-font-size: 1.1rem;
  --h6-font-size: 1rem;
}

@media screen and (min-width: 1440px) {
  :root {
    --base-font-size: 16px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: var(--base-font-size);
  scroll-behavior: smooth;
}

body {
  /* @mixin antialias */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* end @mixin antialias */
  min-height: 100vh;
  min-width: 100vw;
  font-family: var(--body-font-family);
  color: var(--text-color);
  background: url(../images/bg-pattern-desktop.svg) 0 0 no-repeat, var(--gradient1);
  background-size: cover, cover;
  line-height: 1.8em;
}

/* ========================== § TYPOGRAPHY === */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  max-width: 60ch;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1em;
  margin-bottom: 0.5em;
}

h1 {
  font-size: var(--h1-font-size);
  line-height: 1.2em;
  font-weight: 600;
  color: #3c3535;
  text-transform: uppercase;
}
h1 span {
  color: var(--text-color);
  font-weight: 300;
}

h2 {
  font-size: var(--h2-font-size);
  line-height: 1.2em;
}

h3 {
  font-size: var(--h3-font-size);
  line-height: 1.2em;
}

h4 {
  font-size: var(--h4-font-size);
  line-height: 1.2em;
}

h5 {
  font-size: var(--h5-font-size);
}

h6 {
  font-size: var(--h6-font-size);
}

a {
  color: var(--accent-color);
}

dt {
  font-weight: bold;
}

hr {
  border: none;
  border-bottom: 1px solid var(--grey300);
}

/* ========================== § TABLES === */
table,
td,
th {
  border: 1px solid var(--grey300);
}

table {
  border-collapse: collapse;
}

caption {
  font-size: var(--h4-font-size);
  font-weight: bold;
}

thead {
  font-weight: bold;
  background: var(--grey300);
}
thead th {
  border-color: var(--grey500);
}

td,
th {
  padding: 0.5rem;
}

/* ========================== § IMAGES === */
img {
  max-width: 100%;
}

figcaption {
  font-size: var(--small-font-size);
}

/* ========================== § FORMS === */
fieldset,
textarea {
  border: 1px solid var(--grey300);
}

textarea,
input,
select {
  border: 1px solid var(--grey300);
  padding: 0.5rem;
}

button {
  cursor: pointer;
}

/* ========================== § LAYOUT === */
.page {
  margin: 0 auto;
  width: 375px;
}
@media screen and (min-width: 1440px) {
  .page {
    /* mixin mq */
    width: 1440px;
    /* end mixin mq */
  }
}

.grid {
  display: grid;
  grid-template-areas: "header header" "pic pic" "text text";
}
@media screen and (min-width: 1440px) {
  .grid {
    /* mixin mq */
    grid-template-columns: 1fr auto;
    grid-template-areas: "header pic" "text pic" "text pic";
    /* end mixin mq */
  }
}

.header {
  grid-area: header;
}
@media screen and (max-width: 1439px) {
  .header {
    /* mixin mq */
    padding: 2.2rem 2.2rem 1.8rem;
    /* end mixin mq */
  }
}
@media screen and (min-width: 1440px) {
  .header {
    /* mixin mq */
    padding: 4rem 10.2rem;
    /* end mixin mq */
  }
}

@media screen and (max-width: 1439px) {
  .header__logo {
    /* mixin mq */
    width: 7rem;
    /* end mixin mq */
  }
}

.img-container {
  grid-area: pic;
}

.text-container {
  grid-area: text;
}
@media screen and (max-width: 1439px) {
  .text-container {
    /* mixin mq */
    text-align: center;
    padding: 0 2rem;
    /* end mixin mq */
  }
}
@media screen and (min-width: 1440px) {
  .text-container {
    /* mixin mq */
    padding: 0 14rem 10.7rem 10.5rem;
    /* end mixin mq */
  }
}

/* ========================== § TEXT === */
.title {
  letter-spacing: 0.35em;
  margin-top: 3.7rem;
  margin-bottom: 0.5rem;
}
@media screen and (min-width: 1440px) {
  .title {
    /* mixin mq */
    margin-top: 3.1rem;
    margin-bottom: 1rem;
    line-height: 1.1em;
    font-size: 4rem;
    letter-spacing: 0.25em;
    /* end mixin mq */
  }
}

.subtitle {
  margin-bottom: 2.5rem;
}
@media screen and (max-width: 1439px) {
  .subtitle {
    /* mixin mq */
    line-height: 1.6rem;
    /* end mixin mq */
  }
}

/* ========================== § IMG === */
@media screen and (min-width: 1440px) {
  .img-container img {
    /* mixin mq */
    max-height: 800px;
    /* end mixin mq */
  }
}

.input-container {
  display: flex;
  flex-wrap: wrap;
}

.form__email {
  padding: 1rem 1.7rem;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  margin-right: -2rem;
  border: 2px solid #e3d5d9;
  flex: 1 0 auto;
}

.form__button {
  padding: 1rem 1.7rem;
  background: var(--gradient2);
  border-radius: 100px;
  width: 5rem;
  border: none;
  box-shadow: 0 0.7rem 1rem #f8bfbf;
}
@media screen and (min-width: 1440px) {
  .form__button {
    /* mixin mq */
    width: 7rem;
    /* end mixin mq */
  }
}
.form__button:hover {
  background: #f8bfbf;
  box-shadow: 0 0.7rem 1rem #e5b7b8;
}

.form__email.error {
  border-color: var(--soft-red);
  background: url(../../images/icon-error.svg) right 3rem center no-repeat;
}

.error-message {
  display: none;
  width: 100%;
}
@media screen and (max-width: 1439px) {
  .error-message {
    /* mixin mq */
    text-align: left;
    /* end mixin mq */
  }
}

.error-message.error {
  display: block;
}

.subscribed-message {
  /* @mixin center */
  display: flex;
  justify-content: center;
  align-items: center;
  /* end @mixin center */
  opacity: 0;
  position: absolute;
  align-self: center;
  justify-self: center;
  font-size: 2rem;
  padding: 4rem 3rem;
  background: var(--gradient2);
  color: white;
  border-radius: 2rem;
  outline: 1px solid #fff5f5;
  outline-offset: -1rem;
  pointer-events: none;
}

.fadeIn {
  transition: 0.2s ease-out;
  opacity: 100%;
}

.fadeOut {
  transition: 1s ease-out;
  opacity: 0;
}

/*# sourceMappingURL=main.css.map */
