@use "../index.scss" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: var(--base-font-size);
  scroll-behavior: smooth;
}

body {
  @include antialias;
  min-height: 100vh;
  min-width: 100vw;
  font-family: var(--body-font-family);
  color: var(--text-color);
  background: url(../images/bg-pattern-desktop.svg) 0 0 no-repeat, var(--gradient1);
  background-size: cover, cover;
  line-height: 1.8em;
}

/* ========================== § TYPOGRAPHY === */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  max-width: 60ch;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1em;
  margin-bottom: 0.5em;
}

h1 {
  font-size: var(--h1-font-size);
  line-height: 1.2em;
  font-weight: 600;
  color: #3c3535;
  text-transform: uppercase;

  span {
    color: var(--text-color);
    font-weight: 300;
  }
}

h2 {
  font-size: var(--h2-font-size);
  line-height: 1.2em;
}

h3 {
  font-size: var(--h3-font-size);
  line-height: 1.2em;
}

h4 {
  font-size: var(--h4-font-size);
  line-height: 1.2em;
}

h5 {
  font-size: var(--h5-font-size);
}

h6 {
  font-size: var(--h6-font-size);
}

a {
  color: var(--accent-color);
}

dt {
  font-weight: bold;
}

hr {
  border: none;
  border-bottom: 1px solid var(--grey300);
}

/* ========================== § TABLES === */
table,
td,
th {
  border: 1px solid var(--grey300);
}

table {
  border-collapse: collapse;
}

caption {
  font-size: var(--h4-font-size);
  font-weight: bold;
}
thead {
  font-weight: bold;
  background: var(--grey300);

  th {
    border-color: var(--grey500);
  }
}

td,
th {
  padding: 0.5rem;
}
/* ========================== § IMAGES === */
img {
  max-width: 100%;
}

figcaption {
  font-size: var(--small-font-size);
}

/* ========================== § FORMS === */
fieldset,
textarea {
  border: 1px solid var(--grey300);
}

textarea,
input,
select {
  border: 1px solid var(--grey300);
  padding: 0.5rem;
}

button {
  cursor: pointer;
}

/* ========================== § LAYOUT === */
.page {
  margin: 0 auto;
  width: 375px;

  @include mq($desktop-width, up) {
    width: 1440px;
  }
}
.grid {
  display: grid;
  grid-template-areas:
    "header header"
    "pic pic"
    "text text";

  @include mq($desktop-width, up) {
    grid-template-columns: 1fr auto;
    grid-template-areas:
      "header pic"
      "text pic"
      "text pic";
  }
}

.header {
  grid-area: header;

  @include mq($desktop-width, down) {
    padding: 2.2rem 2.2rem 1.8rem;
  }

  @include mq($desktop-width, up) {
    padding: 4rem 10.2rem;
  }
}

.header__logo {
  @include mq($desktop-width, down) {
    width: 7rem;
  }
}

.img-container {
  grid-area: pic;
}

.text-container {
  grid-area: text;

  @include mq($desktop-width, down) {
    text-align: center;
    padding: 0 2rem;
  }

  @include mq($desktop-width, up) {
    padding: 0 14rem 10.7rem 10.5rem;
  }
}

/* ========================== § TEXT === */
.title {
  letter-spacing: 0.35em;
  margin-top: 3.7rem;
  margin-bottom: 0.5rem;

  @include mq($desktop-width, up) {
    margin-top: 3.1rem;
    margin-bottom: 1rem;
    line-height: 1.1em;
    font-size: 4rem;
    letter-spacing: 0.25em;
  }
}

.subtitle {
  margin-bottom: 2.5rem;

  @include mq($desktop-width, down) {
    line-height: 1.6rem;
  }
}
/* ========================== § IMG === */
.img-container {
  img {
    @include mq($desktop-width, up) {
      max-height: 800px;
    }
  }
}

.input-container {
  display: flex;
  flex-wrap: wrap;
}

.form__email {
  padding: 1rem 1.7rem;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  margin-right: -2rem;
  border: 2px solid #e3d5d9;
  flex: 1 0 auto;
}

.form__button {
  padding: 1rem 1.7rem;
  background: var(--gradient2);
  border-radius: 100px;
  width: 5rem;
  border: none;
  box-shadow: 0 0.7rem 1rem hsl(0, 80%, 86%);

  @include mq($desktop-width, up) {
    width: 7rem;
  }

  &:hover {
    background: hsl(0, 80%, 86%);
    box-shadow: 0 0.7rem 1rem #e5b7b8;
  }
}

.form__email.error {
  border-color: var(--soft-red);
  background: url(../../images/icon-error.svg) right 3rem center no-repeat;
}

.error-message {
  display: none;
  width: 100%;

  @include mq($desktop-width, down) {
    text-align: left;
  }
}

.error-message.error {
  display: block;
}

.subscribed-message {
  @include center(flex);
  opacity: 0;
  position: absolute;
  align-self: center;
  justify-self: center;
  font-size: 2rem;
  padding: 4rem 3rem;
  background: var(--gradient2);
  color: white;
  border-radius: 2rem;
  outline: 1px solid hsl(0, 100%, 98%);
  outline-offset: -1rem;
  pointer-events: none;
}

.fadeIn {
  transition: 0.2s ease-out;
  opacity: 100%;
}

.fadeOut {
  transition: 1s ease-out;
  opacity: 0;
}
